.my-hr {
  background: #3f93f3;
  height: 5px;
  width: 10%;
}

#doityourself a {
  text-transform: uppercase;
}

#what-customers-are-saying {
  background: url("/img/whatcustomersaresaying.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
}

#what-customers-are-saying .my-hr {
  background: #fff;
  height: 5px;
  width: 10%;
}

#what-customers-are-saying .what-customers-are-saying-title {
  color: #fff;
}

#what-customers-are-saying .what-customers-are-saying-body .what-customers-are-saying-item {
  margin-top: 30px;
  color: #fff;
}

#what-customers-are-saying .what-customers-are-saying-body blockquote {
  font-family: 'Pacifico', cursive;
}

#how-it-works {
  margin-top: 30px;
  margin-bottom: 30px;
}

#how-it-works .how-it-works-box {
  margin-top: 30px;
}

#how-it-works .how-it-works-box .how-it-works-box-header .fas {
  color: #3f93f3;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#how-it-works .how-it-works-box:hover {
  cursor: pointer;
}

#how-it-works .how-it-works-box:hover .fas {
  color: #333;
}

