.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.my-hr {
  background: #D9CC17;
  height: 5px;
  width: 10%;
}

#serviceestimates {
  padding-top: 0;
  padding-bottom: 0;
}

#doityourself {
  padding-top: 0;
}

#doityourself a {
  text-transform: uppercase;
}

#review-title .icon {
  fill: #D9CC17;
}

#review-title .review-title-title {
  color: #333;
}

#review-title .my-barra {
  border-right: 3px solid #D9CC17;
}

#review-title .my-boxshadow {
  cursor: pointer;
}

#review-title .my-boxshadow:hover {
  background: #D9CC17;
  -webkit-box-shadow: 0 0 0 0, 0 4px 20px 0 #c6c6c6;
          box-shadow: 0 0 0 0, 0 4px 20px 0 #c6c6c6;
}

#review-title .my-boxshadow:hover .icon {
  fill: #fff;
}

#review-title span {
  color: #D9CC17;
}

#whychoose {
  background: url("/img/whychoose.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  padding-top: 40px;
}

#whychoose .my-hr {
  background: #333;
  height: 5px;
  width: 10%;
}

#whychoose .whychoose-title {
  color: #333;
}

#whychoose .whychoose-body .whychoose-item {
  margin-top: 30px;
  color: #333;
  padding-left: 0;
  padding-left: 0;
}

#whychoose .whychoose-body .whychoose-item .my-text-size {
  font-size: 18px;
}

#whychoose .whychoose-mt {
  margin-top: 30px;
}

#whychoose .whychoose-mb {
  margin-bottom: 30px;
}

#what-customers-are-saying {
  background: url("/img/whatcustomersaresaying.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
}

#what-customers-are-saying .my-hr {
  background: #333;
  height: 5px;
  width: 10%;
}

#what-customers-are-saying .what-customers-are-saying-title {
  color: #333;
}

#what-customers-are-saying .what-customers-are-saying-body .what-customers-are-saying-item {
  margin-top: 30px;
  color: #333;
}

#what-customers-are-saying .what-customers-are-saying-body blockquote {
  font-family: 'Pacifico', cursive;
}

#how-it-works .my-hover:hover {
  cursor: pointer;
  background: #CFD6D4;
}

#how-it-works .my-hover:hover .how-it-works-box-header .fas {
  color: #333;
}

#how-it-works .how-it-works-box {
  margin-top: 30px;
}

#how-it-works .how-it-works-box .how-it-works-box-header .fas {
  color: #D9CC17;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#blog {
  background-color: white;
  padding-top: 0;
}

#blog .title-blog a {
  text-decoration: none;
}

#blog .title-blog a h1:hover {
  color: #D9CC17;
}

#blog .blog-header-title {
  border-left: 10px solid #D9CC17;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  background-color: #333;
}

#blog .btn-custom {
  background-color: #333;
  color: white !important;
  border-bottom: 1px solid #D9CC17;
  -webkit-box-shadow: 7px 7px 0px -4px #d9cc17;
  box-shadow: 7px 7px 0px -4px #d9cc17;
  border-radius: 0;
}

#blog .btn-custom:hover {
  background-color: white;
  color: #333 !important;
  border: 1px solid #333;
}

#blog .blog-article-item {
  padding: 5px;
  margin: 5px;
}

#blog .paginate .pagination .active span {
  background-color: #333;
  border-color: #333;
}

#article .article-header-title {
  background: #333;
  border-left: 30px solid #D9CC17;
  color: white;
  text-align: center;
  padding: 50px;
}

#article .article-header-title h1 {
  font-size: 38px;
}

#article .article-body {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.70em;
  line-height: 1.4em;
}

#article .article-recommended h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

#article .article-recommended h2:before {
  background: #333;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

#article .article-recommended h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
  #review-title .my-barra {
    border-right: 0px solid #fff;
  }

  #review-title .row .col-sm-12 .row .col-sm-3 {
    border-left: 3px solid #D9CC17;
  }
}

@media (max-width: 767px) {
  #review-title .my-barra {
    border-right: 0px solid #fff;
  }

  #review-title .row .col-sm-12 .row .col-sm-3 {
    border-left: 3px solid #D9CC17;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.7);
    padding: 0;
  }

  .navbar .custom-navbar {
    text-align: center !important;
  }

  .navbar .navbar-toggle {
    background-color: #333;
  }
}

