$color: #D9CC17;
$black: #333;
$black-secundary: #CFD6D4;
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.my-hr {
  background: $color;
  height: 5px;
  width: 10%;
}

#serviceestimates {
  padding-top: 0;
  padding-bottom: 0;
}

#doityourself {
  padding-top: 0;
  a {
    text-transform: uppercase
  }
}

#review-title {
  .review-title-title {
    color: $black;
  }
  .my-barra {
    border-right: 3px solid $color;
  }
  .my-boxshadow {
    cursor: pointer;
    &:hover {
      background: $black-secundary;
      box-shadow: 0 0 0 0, 0 4px 20px 0 #c6c6c6;
    }
  }
  span {
    color: $color;
  }
}

#whychoose {
  background: url('/img/whychoose.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #fff;
    height: 5px;
    width: 10%;
  }
  .whychoose-title {
    color: #fff;
  }
  .whychoose-body {
    .whychoose-item {
      margin-top: 30px;
      color: #fff;
      padding-left: 0;
      padding-left: 0;
      .my-text-size {
        font-size: 18px;
      }
    }
  }
  .whychoose-mt {
    margin-top: 30px;
  }
  .whychoose-mb {
    margin-bottom: 30px;
  }
}

#what-customers-are-saying {
  background: url('/img/whatcustomersaresaying.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #fff;
    height: 5px;
    width: 10%;
  }
  .what-customers-are-saying-title {
    color: #fff;
  }
  .what-customers-are-saying-body {
    .what-customers-are-saying-item {
      margin-top: 30px;
      color: #fff;
    }
    blockquote {
      font-family: 'Pacifico', cursive;
    }
  }
}

#how-it-works {
  .my-hover {
    &:hover {
      cursor: pointer;
      background: $black-secundary;
      .how-it-works-box-header {
        .fas {
          color: $black;
        }
      }
    }
  }
  .how-it-works-box {
    margin-top: 30px;
    .how-it-works-box-header {
      .fas {
        color: $color;
        transition: color 0.2s;
      }
    }
  }
}

#blog {
  padding-top: 0;
  .title-blog {
    a {
      text-decoration: none;
      h1 {
        &:hover {
          color: $color;
        }
      }
    }
  }
}