$color: #3f93f3;
$black: #333;
.my-hr {
  background: $color;
  height: 5px;
  width: 10%;
}

#doityourself {
  a {
    text-transform: uppercase
  }
}

#review-title {
  .review-title-title {
    color: $black;
  }
  span {
    color: $color;
  }
  margin-bottom: 60px;
}

#whychoose {
  background: url('/img/whychoose.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #fff;
    height: 5px;
    width: 10%;
  }
  .whychoose-title {
    color: #fff;
  }
  .whychoose-body {
    .whychoose-item {
      margin-top: 30px;
      color: #fff;
    }
  }
  .whychoose-mt {
    margin-top: 30px;
  }
  .whychoose-mb {
    margin-bottom: 30px;
  }
}

#what-customers-are-saying {
  background: url('/img/whatcustomersaresaying.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #fff;
    height: 5px;
    width: 10%;
  }
  .what-customers-are-saying-title {
    color: #fff;
  }
  .what-customers-are-saying-body {
    .what-customers-are-saying-item {
      margin-top: 30px;
      color: #fff;
    }
    blockquote {
      font-family: 'Pacifico', cursive;
    }
  }
}

#how-it-works {
  margin-bottom: 30px;
  .how-it-works-box {
    margin-top: 30px;
    .how-it-works-box-header {
      .fas {
        color: $color;
        transition: color 0.2s;
      }
    }
    &:hover {
      cursor: pointer;
      .fas {
        color: $black;
      }
    }
  }
}