$color: #D9CC17;
$black: #333;
$black-secundary: #CFD6D4;
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.my-hr {
  background: $color;
  height: 5px;
  width: 10%;
}

#serviceestimates {
  padding-top: 0;
  padding-bottom: 0;
}

#doityourself {
  padding-top: 0;
  a {
    text-transform: uppercase
  }
}

#review-title {
  .icon {
    fill: #D9CC17;
  }
  .review-title-title {
    color: $black;
  }
  .my-barra {
    border-right: 3px solid $color;
  }
  .my-boxshadow {
    cursor: pointer;
    &:hover {
      background: $color;
      .icon {
        fill: #fff;
      }
      box-shadow: 0 0 0 0,
      0 4px 20px 0 #c6c6c6;
    }
  }
  span {
    color: $color;
  }
}

#whychoose {
  background: url('/img/whychoose.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #333;
    height: 5px;
    width: 10%;
  }
  .whychoose-title {
    color: #333;
  }
  .whychoose-body {
    .whychoose-item {
      margin-top: 30px;
      color: #333;
      padding-left: 0;
      padding-left: 0;
      .my-text-size {
        font-size: 18px;
      }
    }
  }
  .whychoose-mt {
    margin-top: 30px;
  }
  .whychoose-mb {
    margin-bottom: 30px;
  }
}

#what-customers-are-saying {
  background: url('/img/whatcustomersaresaying.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  .my-hr {
    background: #333;
    height: 5px;
    width: 10%;
  }
  .what-customers-are-saying-title {
    color: #333;
  }
  .what-customers-are-saying-body {
    .what-customers-are-saying-item {
      margin-top: 30px;
      color: #333;
    }
    blockquote {
      font-family: 'Pacifico', cursive;
    }
  }
}

#how-it-works {
  .my-hover {
    &:hover {
      cursor: pointer;
      background: $black-secundary;
      .how-it-works-box-header {
        .fas {
          color: $black;
        }
      }
    }
  }
  .how-it-works-box {
    margin-top: 30px;
    .how-it-works-box-header {
      .fas {
        color: $color;
        transition: color 0.2s;
      }
    }
  }
}

#blog {
  background-color: white;
  padding-top: 0;
  .title-blog {
    a {
      text-decoration: none;
      h1 {
        &:hover {
          color: $color;
        }
      }
    }
  }
  .blog-header-title {
    border-left: 10px solid $color;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background-color: #333;
  }
  .btn-custom {
    background-color: #333;
    color: white !important;
    border-bottom: 1px solid $color;
    -webkit-box-shadow: 7px 7px 0px -4px rgba(217, 204, 23, 1);
    -moz-box-shadow: 7px 7px 0px -4px rgba(217, 204, 23, 1);
    box-shadow: 7px 7px 0px -4px rgba(217, 204, 23, 1);
    border-radius: 0;
    &:hover {
      background-color: white;
      color: #333 !important;
      border: 1px solid #333;
    }
  }
  .blog-article-item {
    padding: 5px;
    margin: 5px;
  }
  .paginate {
    .pagination {
      .active {
        span {
          background-color: #333;
          border-color: #333;
        }
      }
    }
  }
}

#article {
  .article-header-title {
    h1 {
      font-size: 38px;
    }
    background: #333;
    border-left: 30px solid $color;
    color: white;
    text-align: center;
    padding: 50px;
  }
  .article-body {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.70em;
    line-height: 1.4em;
  }
  .article-recommended {
    h2 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      &:before {
        background: #333;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      span {
        background: #fff;
        padding: 0 15px;
        position: relative;
        z-index: 1;
      }
    }
  }
}

// Large Devices
@media (min-width:1200px) {
  // OK
} //Medium Devices
@media (min-width: 992px) and (max-width: 1199px) {
  // Ok
} //Small Devices
@media (min-width: 768px) and (max-width: 991px) {
  #review-title {
    .my-barra {
      border-right: 0px solid #fff;
    }
    .row {
      .col-sm-12 {
        .row {
          .col-sm-3 {
            border-left: 3px solid $color;
          }
        }
      }
    }
  }
} // Extra Small
@media (max-width:767px) {
  #review-title {
    .my-barra {
      border-right: 0px solid #fff;
    }
    .row {
      .col-sm-12 {
        .row {
          .col-sm-3 {
            border-left: 3px solid $color;
          }
        }
      }
    }
  }
  .navbar {
    background: rgba(0, 0, 0, .7);
    padding: 0;
    .custom-navbar {
      text-align: center !important;
    }
    .navbar-toggle {
      background-color: #333;
    }
  }
} // Extra Small
@media (max-width:480px) {}

// Extra Small
@media (max-width:320px) {}